{% extends 'store/main.html' %}

{% load static %}

{% block content %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navegacion fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="{% static 'store/assets/img/smartphone.png' %}" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Repuestos</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">

    </div>
</header>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Productos</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-mobile-screen fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Repuestos</h4>
                <p class="text-muted">Modulos, baterias, flex y demas repuestos principalmente para los iPhones y algunos modelos de Samsung y Motorola...</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-screwdriver-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Herramientas</h4>
                <p class="text-muted">Set de herramientas, destornilladores, estaño y demas utilidades para reparar celulares...</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-headphones fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Accesorios</h4>
                <p class="text-muted">Auriculares, cargadores, fundas y demas accesorios para celulares...</p>
            </div>
        </div>
    </div>
</section>

<!-- TITULO -->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Repuestos</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                
                <!-- MODULOS -->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'modulos'%}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'store/assets/img/portfolio/1.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Modulos</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'baterias'%}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'store/assets/img/portfolio/2.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Baterias</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'fcarga'%}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'store/assets/img/portfolio/3.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Flex y placas de carga</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'ffrontal'%}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'store/assets/img/portfolio/4.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Camara frontal</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'camaras'%}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'store/assets/img/portfolio/5.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Camara trasera</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'extra'%}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'store/assets/img/portfolio/6.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Mas...</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}